In [2]:
import src.answers

tables = src.answers.getFeathers()
print("Stored Data Tables\n")
for k in sorted(list(tables.keys())):
    print(k)

Stored Data Tables

answerid
answers
answers_blob_anon
answers_char_anon
answers_num
groups
links
profileid
profilesummary
qconstraints
qdtype
qredundancy
questionaires
questions

## List of Questionaires

In [3]:
tables['questionaires'][tables['questionaires'].QuestionaireID.isin([3, 4, 6, 7, 1000000, 1000001, 1000002])]

    QuestionaireID              Description     ViewName  lock
2                3            NLR Main form          NLR     0
3                4  Interviewer information  Interviewer     0
6                6       NRS Form 1994-1999        NLR99     0
7                7             Namibia Form      Namibia     0
9          1000000      Clinic Questionaire    ND_Clinic     0
10         1000001        Shop Questionaire      ND_shop     0
11         1000002      School Questionaire    ND_School     0

## Search Questions

In [4]:
searchterm = ['water','wood']
questionaire_id = 3
src.answers.quSearch(searchterm, questionaire_id)

,Question,Datatype,QuestionaireID,ColumnNo,Lower,Upper
129,Watersource,num,3,108,0.0,50.0
184,AltFuelWoodCook,num,3,210,0.0,10.0
189,AltFuelWoodHeat,num,3,215,0.0,1.0
200,Where does your hotwater ome from/ other than ...,blob,3,9,0.0,50.0

## Search Answers

In [12]:
searchterm = ['water','wood']
questionaire_id = 3
answers = src.answers.answerSearch(searchterm, questionaire_id)
print(answers[1])
answers[0].head()

     ColumnNo         Question
129       108      Watersource
184       210  AltFuelWoodCook
189       215  AltFuelWoodHeat

    AnswerID  108  210  215
3         34  4.0  0.0  0.0
7         33  4.0  0.0  0.0
10       230  4.0  0.0  0.0
11        43  4.0  0.0  0.0
12        44  4.0  0.0  0.0

## List of Locations by Year

In [5]:
year = '2012'
src.answers.getLocations(year)

['Butterworth',
 'Fourways Gdns',
 'Ga-Luka',
 'Ga-Nkoane',
 'Hankey',
 'Matshana',
 'Matsulu',
 'Seloshesa',
 'Vlaklaagte',
 'Wattville']